
/* =========================================== */
/* canvas main page */
/* components/SignatureCanvas.module.css */
.parent{
  display: flex;
  justify-content:space-evenly;
  align-items: start;
}
.container {
  width: 60%;
  height: 100vh;
  
  margin: 0;
  padding: 0;
}

.sigContainer {
  width: 100%;
  height: 80%;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid rgb(143, 143, 146);
}

.sigPad {
  width: 100%;
  height: 100%;
}

.buttonContainer{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  margin: auto;

}

.buttons {
  width: 10%;
  height: 30px;
  border: 2px solid rgb(112, 107, 107);
  margin: 10px;
  border-radius: 10px;
}

.sigImage {
  background-size: 200px 50px;
  width: 350px;
  height: 150px;
  margin: 1%;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(143, 143, 146);
}

/* =========================================== */
